body {
    background-image: url('bg_school.jpeg');
    background-size: cover;
    background-position: top center;
}

.container {
    background-color: #D89A9E;
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0 0 43px 17px #AEB4A9;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    color: #6D6875;
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    background-color: #FFCDB2;
    border: 0.5px solid #6D6875;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: #D89A9E;
    color: #6D6875;
}

.button:hover {
    background-color: #AEB4A9;
    color: #FFB4A2;
    transition: 0.5s ease-in-out;
}